@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.footer {
    margin-top: 95px;
    padding-bottom: 50px;
    background-color: $dark;
    &__title-main{
        text-align: left;
        text-transform: uppercase;
        padding-top: 50px;
    }
    &__wrapper {
        color: $light;
    }
    &__prg {
        font-size: 16px;
        margin-top: 40px;
        text-align: left;
        &__little {
            font-size: 14px;
        }
    }
    &__title-h3 {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 500;
    }
    &__btn {
        @include button;
        width: 90px;
        height: 40px;
        margin-top: 20px;
        color: $light;
        border-color: $light;
    }
    &-icons {
        margin-top: 40px;
        font-size: 20px;
        color: $light;
        column-gap: 10px;
    }
    .icon-facebook:before, 
    .icon-instagram:before, 
    .icon-pinterest-circled:before {
        margin: 0 10px 0 0;
    }
    &__links {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 40px 66px;
        a {
            padding-top: 40px;
            color: $light;  
        }
        &-block {
            .footer__links-margin {
                padding-top: 20px;
            }
        }
    }
    &__contacts {
        margin-top: 40px;
    }
    &__news,
    &__contacts,
    &__links {
        width: auto;
    }
    &__links-block {
        a {
            display: block;
            padding-top: 40px;
            text-decoration: none;
        }

    }
    &__last {
        text-align: center;
        margin-top: 40px;
        color: $light;
    }

}